:root{
    --light-orange: #D47C35;
    --dark-orange: #E96529;
    --light-card-color: #E2D7CF;
}

body{
    font-size: 0.90rem;
    font-family:'Roboto',serif;
}


a[href="#portfolio"].d-lg-inline{
    font-size: 0.9rem;
    width: 10rem;
    border-radius: 100px;
    margin-right: 1%;
}

div.container-fluid{
    z-index: -1;
    position: absolute;
    top: 0px;
}

.hero-text{
    position: absolute;
    top: 32vh;
    left: 14vw;
    width: 30vw;
}

.hero-text .hero-long-text {
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1.3;
}

.navbar-nav > .nav-link.active, .navbar-nav > .nav-link:hover{
    color:var(--dark-orange) !important;
}

.nav-link::after{
    content:"";
    width: 20px;
    height: 1px;
    display: flex;
    flex-direction: column;
    border:1px solid rgba(233,101,41,0);
}

.nav-link.active::after,
.nav-link:hover::after{
    /* background-color: var(--light-orange); */
    border:1px solid rgba(233,101,41,1);
}

@media (max-width: 575.98px) { 
    
    nav.navbar{
        z-index: 5;
        padding-top: 0rem !important;
    }

    nav .navbar-collapse{
        background: var(--dark-orange);
        padding: 1rem 2rem;
        color: white;
    }

    nav .nav-link{
        color: white !important;
    }

    div.hero-bg-image{
        position:absolute;
        top: 0px;
        z-index:3;
        margin-top:0px;
    }

    .nav-portfolio-button-lg{
        display:none;
    }

    .contact-thread-image{
        position: relative;
        top: 10vh;
    }

    .contact-us-section h2{
        margin-top: 10vh;
        color:var(--dark-orange);
        font-weight: 700;
    }

    .contact-us-section p{
        padding: 2% 10%;
    }

    .hero-text {
        position: absolute;
        top: 10vh;
        left: 14vw;
    }

    .hero-text .hola-text {
        font-size: 2.1vw;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .hero-text .name-text {
        font-size: 2.8vw;
        color:  var(--dark-orange);
    }

    .creative-designer-text .full-stop {
        top: 16vh;
    }

    .creative-designer-text{
        font-weight:800;
        font-size:4vw
    }

    .cv-button {
        background-color: var(--dark-orange);
        color: white;
        border-radius: 50px;
        padding: 2% 10%;
        font-weight: 500;
        margin-top: -1vh;
    }

    .hero-text .hero-long-text {
        display: none;
    }

    .full-stop-section{
        margin-top: 80%;
        padding: 0rem 1rem;
    }

    .hero-text .social-links {
        width: 20vw;
        margin-top: -2vh;
        margin-bottom: 0px;
        display: none;
    }

    .projects-clients-info{
        width: 100%;
        margin-bottom: 15%;
    }

    .projects-info,
    .clients-info,
    .campaign-info{
        max-width: 33%;
    }
    
    .clients-info{
        border-left: 2px solid var(--dark-orange);
        border-right: 2px solid var(--dark-orange);
    }

    .projects-clients-info h1{
        font-size: 2.75rem;
        color: var(--dark-orange);
    }

    .contributors-section p, .services-section p{
        padding: 0% 16%;
    }

    .contributors-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contributors-row img{
        margin-bottom: 2rem;
    }

    .contributors-row .col-4{
        max-width: 55%;
    }

    .services-cards img{
        align-self: center;
        margin-left: 0rem;
        width: 26vw;
        margin-top: 3vh;
    }

    .services-cards .card-title,
    .services-cards .card-text{
        text-align: center;
    }

    .mt-sm-0{
        margin-top:0% !important;
    }

    .d-sm-none{
        display: none;
    }

    .services-section{
        margin-top: 50px;
    }

    .services-cards{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .services-cards .card {
        width: 45vw;
    }

    .about-us-section{
        margin-top: 10rem;
    }

    .floating-dots{
        position: absolute;
        left: 4vw;
        bottom: 52vh;
    }

    .orange-text{
        color: var(--dark-orange);
    }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    nav.navbar{
        z-index: 5;
        padding-top: 0rem !important;
    }

    nav .navbar-collapse{
        background: var(--dark-orange);
        padding: 1rem 2rem;
        color: white;
    }

    nav .nav-link{
        color: white !important;
    }

    div.hero-bg-image{
        position:absolute;
        top: 0px;
        z-index:3;
        margin-top:0px;
    }

    .hero-text .hola-text {
        font-size: 2.1vw;
        font-weight: bold;
        margin-bottom: 0vh;
    }
    
    .hero-text{
        position: absolute;
        top: 20vh;
        left: 14vw;
    }

    .hero-text .name-text {
        font-size: 2.7vw;
        color:var(--dark-orange);
    }

    .hero-text .hero-long-text {
        font-size: 1.8vw;
        margin: 0px !important;
        display:none;
    }

    .creative-designer-text{
        font-size: 4.8vw;
        font-weight: 800;
        line-height: 1.2;  
    }

    .creative-designer-text .full-stop {
        top: 4.2em;
        position: absolute;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: var(--dark-orange);
    }

    .cv-button {
        background-color: var(--dark-orange);
        color: white;
        border-radius: 50px;
        padding: 2% 10%;
        font-weight: 500;
        margin-top: -1vh;
    }

    .hero-text .social-links {
        width: 20vw;
    }

    .full-stop-section{
        margin-top: 80%;
        padding: 0rem 1rem;
    }

    .contributors-section p, .services-section p{
        padding: 0% 16%;
    }

    .contributors-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contributors-row img{
        margin-bottom: 2rem;
    }

    .contributors-row .col-3{
        max-width: 50%;
    }

    .services-cards img{
        align-self: center;
        margin-left: 0rem;
    }

    .services-cards .card-title,
    .services-cards .card-text{
        text-align: center;
    }

    .services-section{
        margin-top: 50px;
    }

    .services-cards{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .services-cards .card{
        width: 40vw;
    }

    .about-us-section{
        margin-top: 10rem;
    }

    .projects-info,
    .clients-info,
    .campaign-info{
        max-width: 33%;
    }

    .clients-info{
        border-left: 3px solid var(--dark-orange);
        border-right: 3px solid var(--dark-orange);
    }

    .big-full-stop{
        position: absolute;
        width: 4vw;
        height: 4vh;
        background: var(--dark-orange);
        border-radius: 50px;
        top: 8%;
        left: 11vw;
        display: none;
    }

    .contributors-section{
        margin-top: 20vh;
    }

    .contributors-section h2{
        font-size: 4vw;
        font-weight: bold;
    }
    
    .projects-clients-info h1{
        color: var(--dark-orange);
        font-weight: bold;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    .contact-us-section h2{
        margin-top: 10%;
        font-size: 3rem;
        font-weight: 700;
        color: var(--dark-orange);
    }

    .contact-us-section p{
        padding: 2% 10%;
    }

    .floating-dots{
        position: absolute;
        top: -14vh;
        left: 7vw;
    }

    .portfolio-section{
        position: relative;
        top: 45vh;
    }

    

    .projects-clients-info{
        margin-top: 110vh;
    }

    .projects-info h1,
    .clients-info h1,
    .campaign-info h1{
        color:var(--dark-orange);
        font-weight:700;
    }

    .clients-info{
        border-left: 3px solid var(--dark-orange);
        border-right: 3px solid var(--dark-orange);
    }

    .full-stop-section{
        position: absolute;
        z-index: 3;
    }

    .big-full-stop{
        border-radius: 30px;
        height: 2em;
        width: 2em;
        position: absolute;
        top: 90vh;
        left: 12vw;
        background: var(--dark-orange);
        box-shadow: -2px 3px 17px 0px rgba(212,124,53,0.75);
    -webkit-box-shadow: -2px 3px 17px 0px rgba(212,124,53,0.75);
    -moz-box-shadow: -2px 3px 17px 0px rgba(212,124,53,0.75);
    }

    .hero-text {
        top: 26vh;
    }

    .services-cards .ui-ux-col,
    .services-cards .web-developing-col,
    .services-cards .web-design-col
    {
        display: flex;
        justify-content: center;
    }

    .hero-text .hola-text {
        font-size: 1.8vw;
        font-weight: bold;
        margin-bottom: 0rem;
    }

    .hero-text .name-text {
        font-size: 2.3vw;
        color: var(--dark-orange);
    }
    
    .hero-text .creative-designer-text{
        font-size: 6vw;
        font-weight: 700;
        line-height: 0.8;
    }

    .hero-text .hero-long-text{
        display: none;
    }

    .cv-button {
        background-color: var(--dark-orange);
        color: white;
        border-radius: 50px;
        padding: 2% 10%;
        font-weight: 500;
        margin-top: 1vh;
    }

    .hero-text .social-links{
        display:none !important;
    }

    nav.navbar{
        z-index: 5;
        padding-top: 0rem !important;
    }

    nav .navbar-collapse{
        background: var(--dark-orange);
        padding: 1rem 2rem;
        color: white;
    }

    nav .nav-link{
        color: white !important;
    }

    .contributors-section{
        margin-top: 20vh;    
    }

    .contributors-section h2, 
    .services-section h2, 
    .about-us-section h2,
    .portfolio-section h2{
        font-size: 4vw;
        font-weight: bold;
    }
    
    .contributors-section p, 
    .services-section p{
        font-size: 1rem;
        font-weight: 500;
        padding: 0% 8%;
    }

    .contributor-thread-image{
        right: 5vw;
        position: relative;
        top: 10vh;
    }

    .full-stop,
    .small-orange-circle,
    .orange-text
    {
        color:var(--dark-orange);
    }

    .contact-us-section{
        position: relative;
        top: 64vh;
    }

    .services-section{
        position: relative;
        top: 12vh;
    }

    .services-cards .my-5{
        margin: 0px !important;
    }

    .services-cards .card{ 
        width: 32vw;
        text-align: center;
    }

    .services-cards .card-img-top{
        width: 60%;
        margin: 10% auto;
    }

    .hero-text .social-links {
        width: 20vw;
    }

    .services-cards .col-md-6, .wp-developing-col{
        display: flex;
        justify-content: center !important;
    }

    .services-cards .card.wp-developing{
        margin-top: 3vh;
    }

    .about-us-section{
        position: relative;
        top: 30vh;
    }

    div.hero-bg-image{
        position:absolute;
        top: 0px;
        z-index:3;
        margin-top:0px;
    }
 }

 @media (min-width:1200px){
    a[href="#portfolio"].d-lg-inline{
        font-size: 0.9rem;
        width: 10rem;
        border-radius: 100px;
        margin-right: 7.3%;
    }

    .hero-text .hola-text{
        font-size: 1.1vw;
        font-weight: bold;
    }
    
    .hero-text .name-text{
        font-size: 1.8vw;
        font-weight: 700;
        color: var(--dark-orange);
        margin:0px;
    }
    
    .hero-text .creative-designer-text {
        font-size: 6vw;
        font-weight: 700;
        line-height: 0.8;
    }
    
    .creative-designer-text .full-stop {
        position: absolute;
        top: 2.55em;
        width: 1.2vw;
        height: 1.2vw;
        border-radius: 10px;
        background-color: var(--dark-orange);
    }
    
    .hero-long-text{
        font-size: 1rem;
        font-weight: 500;
    }
    
    .hero-text .social-links {
        width: 12vw;
    }
    
    .social-icon{
        font-size:1.5rem;
    }
    
    .cv-button {
        background-color: var(--dark-orange);
        color: white;
        border-radius: 50px;
        padding: 1% 8%;
        font-weight: 500;
    }
    
    .full-stop{
        color: var(--dark-orange);
    }
    
    .new-section{
        position:relative;
        padding:0 11%;
    }
    
    .big-full-stop{
        width: 1.875rem;
        height: 1.875rem;
        background: var(--light-orange);
        border-radius: 15px;
        box-shadow: -2px 3px 17px 0px rgba(212,124,53,0.75);
    -webkit-box-shadow: -2px 3px 17px 0px rgba(212,124,53,0.75);
    -moz-box-shadow: -2px 3px 17px 0px rgba(212,124,53,0.75);
    }
    
    .projects-clients-info{
        height:23.87%;
        margin-bottom: 100px;
    }
    
    .projects-clients-info h1{
        color: var(--dark-orange);
        font-size: 3.75rem;
        font-weight:700;
    }
    
    .projects-clients-info .clients-info{
        border-right: 2px solid var(--dark-orange);
        border-left: 2px solid var(--dark-orange);
    }
    
    .projects-clients-info p {
        font-size: 1.5rem;
    }
    
    .dot{
        width: 0.625rem;
        height: 0.625rem;
        background: var(--light-orange);
        border-radius: 5px;
        color: var(--light-orange);
    }
    
    .contributors-section h2, 
    .services-section h2, 
    .about-us-section h2,
    .portfolio-section h2{
        font-size: 3rem;
        font-weight: bold;
    }
    
    .contributors-section p, 
    .services-section p{
        font-size: 1rem;
        font-weight: 500;
        padding: 0% 8%;
    }
    
    .contributor-thread-image{
        margin-top: 10%;
    }
    
    .services-cards .card{
        background: var(--light-card-color);
    }
    
    .services-cards img{
        max-width: 36.5%;
        margin-left: 1.25rem;
        margin-top:2.125rem;
    }
    
    .services-cards h4{
        font-weight: 700;
    }
    
    .services-cards p.card-text{
        padding: 0%;
    }
    
    .services-cards .card{
        border: none;
        border-radius: 0px;
    }
    
    .services-cards .web-design-card{
        border-bottom: 6px solid var(--dark-orange);
    }
    
    .small-orange-circle{
        color:var(--dark-orange);
    }
    
    .orange-text{
        color: var(--dark-orange);
    }
    
    .about-us-section, 
    .portfolio-section,
    .contact-us-section {
        margin-top: 15%;
    }
    
    .about-us-section p {
        padding : 0% 5%;
        font-weight: 500;
    }
    
    .about-us-section .floating-dots{
        position:absolute;
        top: -10%;
        left: 8.5%;
    }
    
    .portfolio-section img{
        max-width: 100%;
    }
    
    .portfolio-section .bottom-image{
        margin-top: 5.5%;
    }
    
    .portfolio-section .image-1{
        width: 44%;
    }
    
    .portfolio-section .other-images{
        width: 53.33%; 
        margin-left: 2.5%;
        display: flex;
        position: relative;
    }
    
    .other-images .image-2,
    .other-images .image-3,
    .other-images .image-4,
    .other-images .image-5{
        width: 47.77%;
        height:auto;
        position:relative;
    }
    
    .mt-28{
        margin-top: 2.8%;
    }
    
    .other-images img{
        width: 100%;
    }
    
    
    
    .portfolio-section .ml-portfolio{
        margin-left: 5%;
    }
    
    .ml--10{
        margin-left: -10%;
    }
    
    .contact-us-section h2{
        margin-top: 10%;
        font-size: 3rem;
        font-weight: 700;
        color: var(--dark-orange);
    }
    
    .contact-us-section .contact-text{
        margin-top: 4%;
        padding: 0% 22%;
        font-weight: 500;
    }
    
    .contact-us-section .social-icon{
       margin:0% 16%;
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    a[href="#portfolio"].d-lg-inline{
        font-size: 0.9rem;
        width: 10rem;
        border-radius: 100px;
        margin-right: 1%;
    }

    .services-cards .cards{
        width: 32vw;
    }

    .contact-us-section{
        margin-top: 62vh;
    }
    
    .contact-us-section h2{
        margin-top: 10%;
        font-size: 3rem;
        font-weight: 700;
        color: var(--dark-orange);
    }

    .contact-us-section p{
        padding: 2% 10%;
    }

    .card-img-top{
        width: 16vw;
    }

    .floating-dots{
        position: absolute;
        top: -14vh;
        left: 7vw;
    }

    .portfolio-section{
        position: relative;
        top: 25vh;
    }

    /* Copied styles from 1200 starts here */
    .hero-text .hola-text{
        font-size: 1.1vw;
        font-weight: bold;
    }
    
    .hero-text .name-text{
        font-size: 1.8vw;
        font-weight: 700;
        color: var(--dark-orange);
        margin:0px;
    }
    
    .hero-text .creative-designer-text {
        font-size: 6vw;
        font-weight: 700;
        line-height: 0.8;
    }
    
    .creative-designer-text .full-stop {
        position: absolute;
        top: 2.55em;
        width: 1.2vw;
        height: 1.2vw;
        border-radius: 10px;
        background-color: var(--dark-orange);
    }
    
    .hero-long-text{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0px !important;
    }
    
    .hero-text .social-links {
        width: 12vw;
    }
    
    .social-icon{
        font-size:1.5rem;
    }
    
    .cv-button {
        background-color: var(--dark-orange);
        color: white;
        border-radius: 50px;
        padding: 1% 8%;
        font-weight: 500;
    }
    
    .full-stop{
        color: var(--dark-orange);
    }
    
    .new-section{
        position:relative;
        padding:0 11%;
    }
    
    .big-full-stop{
        width: 1.875rem;
        height: 1.875rem;
        background: var(--light-orange);
        border-radius: 15px;
        box-shadow: -2px 3px 17px 0px rgba(212,124,53,0.75);
    -webkit-box-shadow: -2px 3px 17px 0px rgba(212,124,53,0.75);
    -moz-box-shadow: -2px 3px 17px 0px rgba(212,124,53,0.75);
    }
    
    .projects-clients-info{
        height:23.87%;
        margin-bottom: 100px;
    }
    
    .projects-clients-info h1{
        color: var(--dark-orange);
        font-size: 3.75rem;
        font-weight:700;
    }
    
    .projects-clients-info .clients-info{
        border-right: 2px solid var(--dark-orange);
        border-left: 2px solid var(--dark-orange);
    }
    
    .projects-clients-info p {
        font-size: 1.5rem;
    }
    
    .dot{
        width: 0.625rem;
        height: 0.625rem;
        background: var(--light-orange);
        border-radius: 5px;
        color: var(--light-orange);
    }
    
    .contributors-section h2, 
    .services-section h2, 
    .about-us-section h2,
    .portfolio-section h2{
        font-size: 3rem;
        font-weight: bold;
    }
    
    .contributors-section p, 
    .services-section p{
        font-size: 1rem;
        font-weight: 500;
        padding: 0% 8%;
    }
    
    .contributor-thread-image{
        margin-top: 10%;
    }
    
    .services-cards .card{
        background: var(--light-card-color);
    }
    
    .services-cards img{
        max-width: 36.5%;
        margin-left: 1.25rem;
        margin-top:2.125rem;
    }
    
    .services-cards h4{
        font-weight: 700;
    }
    
    .services-cards p.card-text{
        padding: 0%;
    }
    
    .services-cards .card{
        border: none;
        border-radius: 0px;
    }
    
    .services-cards .web-design-card{
        border-bottom: 6px solid var(--dark-orange);
    }
    
    .small-orange-circle{
        color:var(--dark-orange);
    }
    
    .orange-text{
        color: var(--dark-orange);
    }
    
    .about-us-section{
        margin-top: 15%;
    }
    
    .about-us-section p {
        padding : 0% 5%;
        font-weight: 500;
    }
    
    .about-us-section .floating-dots{
        position:absolute;
        top: -10%;
        left: 8.5%;
    }
    
    .portfolio-section img{
        max-width: 100%;
    }
    
    .portfolio-section .bottom-image{
        margin-top: 5.5%;
    }
    
    .portfolio-section .image-1{
        width: 44%;
    }
    
    .portfolio-section .other-images{
        width: 53.33%; 
        margin-left: 2.5%;
        display: flex;
        position: relative;
    }
    
    .other-images .image-2,
    .other-images .image-3,
    .other-images .image-4,
    .other-images .image-5{
        width: 47.77%;
        height:auto;
        position:relative;
    }
    
    .mt-28{
        margin-top: 2.8%;
    }
    
    .other-images img{
        width: 100%;
    }
    
    
    
    .portfolio-section .ml-portfolio{
        margin-left: 5%;
    }
    
    .ml--10{
        margin-left: -10%;
    }
    
    .contact-us-section h2{
        margin-top: 10%;
        font-size: 3rem;
        font-weight: 700;
        color: var(--dark-orange);
    }
    
    .contact-us-section .contact-text{
        margin-top: 4%;
        padding: 0% 22%;
        font-weight: 500;
    }
    
    .contact-us-section .social-icon{
       margin:0% 16%;
    }
 }  

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        -ms-flex-direction: row;
        flex-direction: row;
        margin-left: 9%;
        width: 55%;
        font-weight: 700;
    }

    nav .navbar-brand{
        margin-left: 6.20%;
    }

    .nav-portfolio-button-md{
        border-radius: 50px;
        margin-left: 13.4%;
    }

    .navbar-nav > .nav-link{
        margin-left: 2.34%;
    }

    
}
